{% extends "./layouts/main-layout.html" %}

{% block title %}
    Autoevaluación individual
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Estrategías</h1>
        <ol class="list-group list-group-numbered">
            {% for strategy in strategies %}
                <li class="list-group-item">
                    <a href="{% url 'new_individual_principles' strategy.id %}">
                        {{ strategy.title }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}