{% extends "elama/layouts/base.html" %}

{% block title %}
    Autoevaluación individual
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Estrategías</h1>
        <ol class="list-group list-group-numbered">
            {% for estrategia in estrategias %}
                <li class="list-group-item">
                    <a href="{% url 'elama:nuevo_individual_principios' autoevaluacion_id estrategia.id %}">
                        {{ estrategia.titulo }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}